

.SearchBar{
    // border: 10px solid red;
    // width: 70vh;
    display: flex;
    margin: 30px 0;
    justify-content: center;

    .autocomplete{
        // border: 2px solid red;
        width: 50%;
    }

    Button{
     width: 120px;   
     margin: 0 10px;
    }
}


.AddCard{
    border-top: 0.22px solid #e1d7d7;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
    margin: 10px 0;
}

.no_data{
    // border: 1px solid red;
    border-top: 0.22px solid #e1d7d7;

    height: 80vh;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #e5d8d8;
    /* width: 100vh; */
    align-items: center;
    font-weight: 600;
}

@media only screen and (min-width: 280px) and (max-width: 700px){

    .no_data{
        height: 50vh;
    }

    .SearchBar{

        display: flex;
        flex-direction: column;
        margin: 30px 0;
        justify-content: center;
        align-items: center;
    
        .autocomplete{
            width: 95%;
        }
    
        .buton{
         width: 120px;   
         margin: 10px 0px;
        }
    }

    .AddCard{
        display: grid;
        grid-template-columns: 1fr ;
        // place-self: center;
        // justify-content: center;
        // align-items: center;
        margin: 10px 0;
    }
}