.bookMark{
    border: 2px solid red;
}

.no_bookmark{
    
    font-size: 20px;
    height: 53vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #8996a1;

}