.np_img{
    display: flex;
    justify-content: center;

    img{
        height: 50%;
        width: 50%;
    }
}
.btn_div{
    display: flex;
    justify-content: center;
}

.btn{
   
    background-color: #003049;
    color: #e9ecef;
    font-size: 1em;
    width: 40%;
    cursor: pointer;

    a{
        text-decoration: none;
        color: #e9ecef;
        
    }
  }

  @media only screen and(min-width: 280px) and (max-width: 700px){
    .np_img{
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    
        img{
            height: 50%;
            width: 100%;
        }
    }
    .btn_div{
        display: flex;
        justify-content: center;
    }
  }